pm.exe
vault.dat
team/pm-team.exe
team/team_vault.dat
CHANGES.md

scripts/*
!scripts/build.sh
!scripts/build.ps1
!scripts/test.sh
!scripts/test.ps1
!scripts/install.sh
!scripts/install.ps1
dev/bin/
dev/pm.exe

gha-creds-*.json
site/
/dev
/tests
/rust/apm-native/target/*
/rust/apm-get/target/*
/rust/target/*
