name: APM Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Install dependencies
      run: go mod download

    - name: Run E2E Tests
      run: go test -v ./tests/...

    - name: Run totp_test
      run: go test -v ./tests/totp_test.go

    - name: Run portablity tests
      run: go test -v ./tests/portablity_test.go

    - name: Run new types tests
      run: go test -v ./tests/new_types_test.go