name: Brute-Force Resistance Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  brute-force:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      
      - name: Run Brute-Force Test
        run: go test -v ./tests/brute_force_test.go
